/* CSS Document */
.move, .move2, .move3, .move4, .move5, .moblock {
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .move div, .move2 div, .move3 div, .move4 div, .move5 div, .moblock div {
    opacity: 0;
    display: inline-block;
    margin: 0;
    padding: 0; }
  .move:before, .move2:before, .move3:before, .move4:before, .move5:before, .moblock:before {
    content: "";
    position: absolute;
    opacity: 1;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 5.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(-101%);
    background: #ff688b; }

.moblock {
  display: block; }
  .moblock div {
    display: block; }

.w100 {
  width: 100%; }
  .w100 div {
    width: 100%; }

.active:before {
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #ff688b;
  transform: translateX(0%); }

.active2:before {
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.6s;
  background-color: #ff688b;
  transform: translateX(0%); }

.active3:before {
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 1.2s;
  background-color: #ff688b;
  transform: translateX(0%); }

.active4:before {
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 1.8s;
  background-color: #ff688b;
  transform: translateX(0%); }

.active5:before {
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 2.4s;
  background-color: #ff688b;
  transform: translateX(0%); }

.done div {
  opacity: 1;
  z-index: 2; }
.done:before {
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(101%); }

canvas {
  display: block;
  vertical-align: bottom; }

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5; }

.kvgrd {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  mix-blend-mode: darken;
  height: 100%;
  opacity: 0.6;
  background: linear-gradient(90deg, #ffd4d2 0%, #e5dbeb 14.28%, #bdf2ff 28.56%, #b8f4d7 42.85%, #D1FCD3 57.14%, #e7f4d7 71.42%, #f6ebd2 85.71%, #ffd4d2 100%) 0% center/400% auto;
  animation: mgrd 30s linear infinite; }

@keyframes mgrd {
  to {
    background-position-x: 400%; } }
